---
title: Awards
layout: page
pageOrder: 3
---

.row
    .span12
        ul
        li Meisinger Award, American Meteorological Society, 1973
        li Fellow, American Meteorological Society, 1973
        li Second Half Century Award, American Meteorological Society, 1982
        li Fellow, American Geophysical Union, 1982
        li Editor's Award, American Meteorological Society, 1988
        li Teaching Award, Department of Atmospheric Sciences, UW, 1992
        li 
            a(href="http://www.ametsoc.org/stacpges/aofd/haurwitz.html") Haurwitz Memorial Lecturer, American Meteorological Society, 1993
        li Member, National Academy of Sciences, 1994
        li 
            a(href="http://www.nasonline.org/about-nas/awards/scientific-reviewing.html") NAS Award for Scientific Reviewing, 1998
        li 
            a(href="http://www.su.se/english/about/ceremonies/honorary-doctorates-from-stockholm-university-1994-2010-1.21553") Honorary Doctoral Degree, Stockholm University, 1998
        li Honorary Professor, University of Buenos Aires, 1998
        li 
            a(href="http://sites.agu.org/honors/winners/james-r-holton/") Roger Revelle Medal, American Geophysical Union, 2000
        li 
            a(href="http://www.ametsoc.org/awards/2001all_recipients.pdf") Rossby Research Medal, American Meteorological Society, 2001
                  
