a, a:link
  cursor pointer

body
  padding-top 60px

table
  tfoot, tbody
    th
      border-top 1px solid #DDD

footer
  padding-bottom 30px

.peopleCarouselImg img
  width auto
  height 430px
  max-height 430px
  display inline-block

.carousel-inner
    text-align center

.carousel, .item img
     display inline-block

    
