--- yaml
layout: 'default'
title: 'Home'
---

.row
    .hero-unit
        h2 Memorial Site for James Reed Holton Phd.
        p
            <img class="img-polaroid" src="/images/holton.jpg" title="James Holton" width="140px" />
            <bold>16 April 1938 - 3 March 2004</bold>
.row
   .span12
       <img src="/images/cloudschem.gif" title="Stratopheric Pump" />
        
