---
title: 'Encyclopedia of Atmospheric Sciences'
url: http://www.academicpress.com/atmospheric
imageurl: /images/book_enc.jpg 
author: 'Edited by James R. Holton, John A. Pyle, and Judith A. Curry'
tags: ['books']
---
